<app-button-grid [grid]="grid" (forwardToggle)="toggleHandler($event)"></app-button-grid>
<div class="settings-panel">
  <div class="confirm-panel">
    <h2>Manual Override</h2>
    <div class="rowFlex">
      <div>
        <div>
          <label id="xAxis">X:</label>
          <select class="form-control" [(ngModel)]="xSel">
            <option *ngFor="let item of makeArray(xSize); let i = index" [ngValue]="i">{{i+1}}</option>
          </select>
        </div>
        <div>
          <label id="yAxis">Y:</label>
          <select class="form-control" [(ngModel)]="ySel">
            <option *ngFor="let item of makeArray(ySize); let i = index" [ngValue]="i">{{i+1}}</option>
          </select>
        </div>
      </div>
      <div class="radio-panel">
        <label>Set to:</label>
        <br/>
        <input type="radio" name="statSel" [(ngModel)]="statSel" [value]="true"> ON
        <br/>
        <input type="radio" name="statSel" [(ngModel)]="statSel" [value]="false"> OFF
      </div>
    </div>
    <p> 
      <button class="confirm" (click)="confirm()">Confirm</button> 
    </p>
  </div>
  <p> 
    <button class="reset" (click)="reset()">Reset</button>
  </p>
</div>