<app-button-grid [grid]="grid"></app-button-grid>
<div>
  <h2>Manual Override</h2>
  <label id="xAxis">X:</label>
  <select class="form-control" (change)="selectX($event.target.value)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <label id="yAxis">Y:</label>
  <select class="form-control" (change)="selectY($event.target.value)">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
  </select>
  <label id="select-radio">Set to:</label>
  <select class="form-control" (change)="selectStatus($event.target.value)">
    <option value="true">ON</option>
    <option value="false">OFF</option>
  </select>
  <p> 
    <button (click)="change()">Confirm</button> 
  </p>
  <p> 
    <button (click)="reset()">RESET</button>
  </p>

</div>