/* Global Styles */
* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
    outline: none;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

/* Text */
h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
  margin-block-start: 5px;
  margin-block-end: 10px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */
a {
  cursor: pointer;
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Table */
table {
  padding: 10px;
  text-align: center;
}

table p {
  padding: 5px 15px;
  font-size: 20px;
}

td {
  vertical-align: baseline;
}

tr {
  font-size: 20px;
}

/* Input */
input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 5px;
  text-transform: uppercase;
  display: inline-block;
}

/* Button */
.button, button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: #007BFF;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.9;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}

/* Button Settings Panel */
app-button-settings {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.right-panel {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 13px;
  background-color: #f5f5f5;
  padding: 10px;
  height: 312px;
}

.right-panel div {
  align-self: flex-start;
}

/* Top Bar */
app-top-bar {
  width: 100%;
  height: 68px;
  background-color: #007BFF;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar h1 {
  color: white;
  margin: 0;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/